main{
    margin-top: 10vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkblue);
    min-height: 100vh;
    color: #ffffff;
    width: 100vw;
}

h1{
    font-size: var(--title-size);
}

.photos{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    gap: 5vw;
}

.photos .container{
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    position: relative;
    transition: box-shadow 0.5s;
}

.photos .container:hover{
    box-shadow: 0px 0px 5px var(--gold);
}

.photos .container img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.photos .container p{
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    font-size: var(--text-size);
    display: flex;
    transition: opacity 0.5s;
    background-color: rgba(0,0,0,0.8);
    color: var(--gold);
    text-shadow: 0px 0px 2px var(--gold);
}

.photos .container:hover p{
    opacity: 1;
}

@media (max-width:720px) {
    
    .photos .container{
        width: 45vw;
        height: 45vw;
    }
    
    .photos .container img{
        width: 45vw;
        height: 45vw;
    }
    
    .photos .container p{
        width: 45vw;
        height: 45vw;
    }
    
}