* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --black: rgb(8, 8, 8);
  --darkgrey: rgb(17,17,17);
  --gold: rgb(224, 168, 31);
  --darkblue: rgb(0,2,20);
  --title-size:3vw;
  --text-size:2vw;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

@font-face {
  font-family: "Winky_Sans";
  src: url("../fonts/Winky_Sans/winky_sans_reg.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

header {
  display: flex;
  background-color: black;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.logo {
  width: 3vw;
  height: 7.5vh;
  clip-path: inset(0% 28% 0% 0%);
}
nav {
  width: 80vw;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 1vw;
}
a {
  color: white;
  text-decoration: none;
  transition: text-shadow 0.5s, color 0.5s;
}
a:hover {
  color: var(--gold);
  text-shadow: 0px 0px 5px var(--gold);
}

a:has(.logo) {
  transition: filter 0.5s;
}

a:has(.logo):hover {
  filter: drop-shadow(0px 0px 5px white);
}

#openMenu{
  background-color: transparent;
  text-align: center;
  border: none;
  font-size: 4vw;
  height:auto;
  padding: 0;
  width:15vw;
  color: white;
  cursor: pointer;
}

.hidden{
  display: none;
}


button:not(#openMenu){
  color: black;
  background-color: white;
  font-size: var(--text-size);
  padding: 2vh 5vw;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s, text-shadow 0.5s;
  border: none;
}

button:not(#openMenu):hover{
   background-color: var(--gold);
   color: white;
   text-shadow: 0px 0px 2px white;
   box-shadow: 0px 0px 5px var(--gold);
}

footer {
  width: 100vw;
  height: 30vh;
  color: white;
  background-color: var(--black);
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .content .footer_menu {
  margin: 2vh 2vw;
}

footer .content .footer_menu li {
  list-style: none;
  margin: 1vh 0;
}

footer .content .footer_menu a {
  text-decoration: underline;
}

footer .content .info {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 2vw;
}

footer .content .info .footer_logo{
   background-image:url(../multimedia/images/logo.png);
   width: 15vw;
   height: 4vw;
   background-size: cover;
   background-position:1.5vw;
   background-repeat: no-repeat;
}

footer .content .info a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}

footer .content .info img {
  width: 3vw;
  height: 3vw;
  transition: filter 0.5s;
}

footer .content .info .instagram{
  width: 3.7vw;
  height: 3.7vw;
}

footer .content .info .info_icon{
   width: 2.5vw;
   height: 2.5vw;
}

footer .content .info img:hover{
  filter: brightness(0) saturate(100%) invert(75%) sepia(74%) saturate(1363%) hue-rotate(349deg) brightness(95%) contrast(84%);
}

footer .content .info p {
  margin-bottom: 2vh;
}

footer .content .icons{
  display: flex;
  align-items: center;
}

/*Media-Queries*/

@media(max-width:720px) {

  :root {
    --title-size:9vw;
    --text-size:6vw;
  }

  body:has(nav.show){
    height: 100vh;
    overflow-y: hidden;
  }
   header{
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10vh;
  }

  header.opened{
    height: 100vh;
    align-items: center;
  }

  .logo{
    width: 12.5vw;
    height: 10vh;
    object-fit: contain;
  }
   #openMenu{
    display: inline-block;
    font-size: 15vw;
    display: flex;
    height: 10vh;
    align-items: center;
   }

   nav{
    display: none;
   }

   nav.show{
    display: unset;
   }

   nav ul{
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
   }

   nav ul li{
    font-size: var(--title-size);
   }

   nav ul li:not(nav ul li:nth-child(1)){
    margin-top: 5vh;
   }

   button:not(#openMenu){
    padding: 3vh 7vw;
    min-width: 70vw;
  }

   footer{
    height: auto;
   }

   footer .content{
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
   }

   footer .content .footer_menu{
    margin: 2vh 2vw;
    font-size: 5vw;
   }

   footer .content .info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer .content .info .footer_logo{
    width: 50vw;
    height: 10vh;
    background-position:-5vw;
 }
 
 footer .content .info a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20vw;
 }
 
 footer .content .info img {
   width: 13.5vw;
   height: 13.5vw;
   transition: filter 0.5s;
 }
 
 footer .content .info .instagram{
   width: 17.5vw;
   height: 17.5vw;
 }
 
 footer .content .info .info_icon{
    width: 12.5vw;
    height: 12.5vw;
 }
 
 footer .content .info p {
   font-size: 5vw;
 }
 
 footer .content .icons{
   justify-content: space-around;
   margin-bottom: 5vh;
   width: 100vw;
 }

}
