@keyframes starPulse {
  0% {
    filter: drop-shadow(0px 0px 10px var(--gold)) brightness(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 5px var(--gold)) brightness(80%);
  }
  100% {
    filter: drop-shadow(0px 0px 10px var(--gold)) brightness(100%);
  }
}

body {
  background-color: black;
}

.banner {
  background-color: black;
  margin-top: 10vh;
  display: inline-block;
}

.banner img {
  width: 100vw;
  mask-image: radial-gradient(
    ellipse 80% 80% at center,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: brightness(50%);
  height: 90vh;
  object-fit: cover;
  object-position: bottom;
}

.banner h1 {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  font-size: 12.5vw;
  text-shadow: 0px 0px 5px white;
  font-family: "Winky_Sans";
  font-weight: 100;
}

.banner h2 {
  color: var(--gold);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  text-align: center;
  font-size: var(--text-size);
  width: 100vw;
}

.row {
  width: 100vw;
  display: flex;
  height: 70vh;
  align-items: center;
  background-color: black;
}
.row .image {
  width: 30vw;
}

.row .image img {
  width: 30vw;
  height: 50vh;
  object-fit: contain;
}

.moon_star {
  animation: starPulse 2s infinite linear;
}

.row .text {
  height: 40vh;
  color: white;
  width: 70vw;
  padding: 0 5vw;
}

.row .text h2 {
  font-size: var(--title-size);
}

.row .text p {
  font-size: var(--text-size);
  margin: 2vh 0 5vh 0;
}

#start {
  color: white;
  height: 120vh;
  width: 100vw;
  position: relative;
}

#start img {
  width: 100vw;
  height: 120vh;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  filter: brightness(30%);
}

#start h2 {
  font-size: var(--title-size);
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  width: 100vw;
  text-align: center;
}

#start button {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
}

@media (max-width: 720px) {
  .banner {
    height: 90vh;
    margin-top: 20vh;
  }
  .banner img {
    transform: rotate(90deg);
    width: 90vh; /*transform rotate switches height and width*/
    height: 100vw;
    mask-image: radial-gradient(
      ellipse 60% 100% at center,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .banner h1 {
    font-size: 25vw;
    top: 50%;
  }

  .banner h2 {
    padding: 5vw;
    top: 65%;
  }

  .row {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }

  .row .image {
    width: auto;
  }

  .row .image img {
    width: 80vw;
  }

  .row .text {
    margin-top: 5vh;
    height: auto;
    width: 100vw;
    padding: 5vh 5vw;
  }

  .row .text h2 {
    font-size: var(--title-size);
  }

  #start h2 {
    font-size: var(--title-size);
    padding: 5vw;
    width: 100vw;
    text-align: center;
  }
}
