main {
  margin-top: 10vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkblue);
  min-height: 100vh;
  color: #ffffff;
  width: 100vw;
}
h1 {
  font-size: var(--title-size);
}

.moon_rotating {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.moon_rotating .moon_video_container {
  position: relative;
}

.moon_rotating .moon_video_container .selection {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1vw;
  height: 1.5vw;
  background-color: rgba(255, 166, 0, 0.4);
  border: 2px solid rgba(255, 166, 0, 0.7);
}

.moon_rotating .moon_video_container video {
  width: 40vw;
}

.moon_rotating .terrain_info {
  width: 40vw;
  height: 50vh;
}

.moon_rotating .terrain_info h2 {
  font-size: calc(var(--text-size) * 1.25);
  margin-bottom: 2vh;
  color: var(--gold);
  text-shadow: 0px 0px 5px var(--gold);
}

.moon_rotating .terrain_info h2::before {
  content: "#";
}

.moon_rotating .terrain_info li {
  font-size: calc(var(--text-size) * 0.75);
  list-style: none;
  margin-top: 1vh;
}

.moon_rotating .terrain_info p .avaliable {
  color: green;
}
.moon_rotating .terrain_info p .unavaliable {
  color: red;
}

.moon_rotating .terrain_info #meters {
  color: var(--gold);
}

.moon_rotating .terrain_info #price {
  color: green;
}

.moon_rotating .terrain_info #price::before {
  content: "$";
}

.moon_rotating .terrain_info button {
  margin-top: 5vh;
  font-size: calc(var(--text-size) * 0.75) !important;
}

.moon_rotating .terrain_info #buy {
  display: none;
}

.moon_rotating .terrain_info:has(.avaliable) #buy {
  display: unset;
}

@media (max-width: 720px) {
  main {
    padding-top: 5vh;
  }
  h1 {
    font-size: var(--title-size);
  }
  .moon_rotating {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
  }
  .moon_rotating .moon_video_container {
    position: relative;
    margin-top: 5vh;
  }

  .moon_rotating .moon_video_container .selection {
    width: 5vw;
    height: 7.5vw;
  }

  .moon_rotating .moon_video_container video {
    width: 100vw;
  }

  .moon_rotating .terrain_info {
    width: 100vw;
    height: auto;
    padding: 10vh 5vw;
  }

  .moon_rotating .terrain_info #buy, .moon_rotating .terrain_info #skip {
    padding: 3vh 4vw;
  }
}
